<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abdelmounaim Elhaila : CV</title>
        <script src="https://kit.fontawesome.com/6afe30d66d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/cvstyle.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<header>
        <div class="logo">
            <p class="effect">Abdelmounaim El haila</p>
        </div>
        <div class="seperator">
            <p>|</p>
        </div>
        <div class="nav-social">
            <a href="https://github.com/Elhabdo/"  target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/abdelmounaim-elhaila-88a3a71a0/"  target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="seperator">
            <p>|</p>
        </div>
        <div class="nav-social">
            <a class="effect" href="/"><i class="fas fa-undo"></i> Back</a>
        </div>
    </header>
<div class="walo"></div>
<div id="example1"></div>


</body>
<script src="../static/js/cv.js"></script>
<script>PDFObject.embed("../static/pdf/moncv.pdf", "#example1");
if(PDFObject.supportsPDFs == false){
doExportMap();
}</script>
</html>