<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdelmounaim elhaila cv</title>
    <script src="https://kit.fontawesome.com/6afe30d66d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/cvstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="../static/img/logo.png" />

<body>
<header>
        <div class="logo">
            <p class="effect">ABDELMOUNAIM EL HAILA</p>
        </div>
        <div class="seperator">
            <p>|</p>
        </div>
        <div class="nav-social">
            <a href="https://github.com/Elhabdo/"  target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/abdelmounaim-elhaila-88a3a71a0/"  target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="seperator">
            <p>|</p>
        </div>
        <div class="nav-social">
            <a class="effect" href="/"><i class="fas fa-undo"></i> Back</a>
        </div>
    </header>
<div id="example1"></div>
<div class="errdwon rmv" id="errr">
    <p class="txttt">CV downloaded <i class="fas fa-file-download"></i></p>
</div>
</body>
<script src="../static/js/cv.js"></script>
</html>